*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100vh;
}
button{
  padding: 20px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  margin: 50px;
  background-color: #14C38E;
  color: #fafafa;
  border: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.light{
  background-color: black;
  color: white;
}
.dark{
  background-color: white;
  color: black;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
